*{
    margin: 0px;
    padding: 0px;
}


.container{
    width: 100%;
    background: gold;
}


.header{
    width: 1300px;
    height: auto;
    /* background: gold; */
    margin: auto;
    margin-top: 20px;
}


.header_section{
    width: 95%;
    /* height: 50px;
    background: blue; */
    margin: auto;
    margin-bottom: 50px;
}

.logo_section img{
    width: 8%;
    float: left;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}    
  
li {
    float: left;
    list-style: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    margin: 2px;
    text-decoration: none;
    transition: all 1.5s;
    border-color: magenta;
}

li a:hover {
    border-bottom: 5px solid magenta;
    color: rgb(86, 88, 88);
}


/* .menu_right ul{
    float: right;
    overflow: hidden;
    margin-top:-50px ;
} */


.action_btn1{
    color: #050505;
    padding: 1rem 1.1111111111rem;
    border: 0.5px solid black;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

.action_btn{
    background-color: rgb(221, 133, 1);
    color: hsl(0, 0%, 100%);
    padding: 1rem 1.1111111111rem;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui;
    transition: all 1s;
}
.menu_section {
    display: flex;
}

.action_btn:hover{
    background:red;
    text-decoration: none;
    border-bottom: -5px solid magenta;
}


.action_btn1:hover{
    text-decoration: none;
    border-bottom: -5px solid magenta;
}

.footer-p{
    width: 100%;
    background: #022c45;
    /* height: auto; */
}
.footer_section{
    width: 1300px;
    height:auto;
    background: #022c45;
    margin: auto;
    display: block;
    overflow: hidden;
}


.footer{
    width: 46.5%;
    height: auto;
    background: #011e2f;
    margin: 10px 13px 6px 10px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .footer-0{
    width: 46.5%;
    height: auto;
    background: #011e2f;
    margin: 10px 13px 6px 10px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.footer h3  {
    font-size: 25px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    padding: 30px;
    font-weight: 800;
    color: aliceblue;

}

.main_section{
    width: 1000px;
    height: 500px;
    margin-bottom: 50px;
    background-color: bisque;
    margin: auto;
}

.left_part a.btn.dark {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-decoration: none;
    color: white;
    background: rgb(245, 69, 69);
    border-radius: 15px;
    margin: 30px;
    transition: all 1s;
}


.right_part a.btn.dark {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-decoration: none;
    color: white;
    /* background: rgb(245, 69, 69); */
    border-radius: 15px;
    margin: 30px;
    border: 1px solid white;
    transition: all 1s;
}

.right_part a.btn.dark:hover{
    color: black;
    background: white;

}

.left_part a.btn.dark:hover{
    background: rgb(212, 3, 3);

}

.footer-section-01{
    width: 15%;
    height: auto;
    /* background: gold; */
    display: flex;
    float: left;
    /* margin-left: 1px; */
    margin-top: 20px;
    padding: 10px;
    border-bottom: 0.5px solid white;
    margin-bottom: 50px;
    color: wheat;
    cursor: pointer;
}

p {
    padding: 24px;
    line-height: 30px;
}

.footer_bottom{
    width: 1300px;
    margin: auto;
    background: magenta;
    height: 50px;
}

.left_s{
    width: 50%;
    height: 50px;
    float: left;
}
